<style>
  #editor {
    min-width: 100%;
    min-height: 100%;
    display: flex;
  }
  .card {
    margin-left: 50px;
    width: 100%;
    height: 100%;
  }
  #question_content{
    height: 100%;
    width: 100%;
  }

</style>


  <script type="text/javascript">

    window.onload = function() {
      new Vue({
        el: '#editor',
          data: {
            input: '#{j question.content}',
          },
          filters: {
            marked: marked,
          },
      });
    };
  </script>



<%= form_with model: question, local: true  do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>

    <div class="row">
      <div class="offset-1">
        <h3>タイトル</h3>
        <%= form.text_field :title, placeholder:"解決したい事を10文字以上で書いてください", size:"60" %>
      </div>
    </div><br>


    <div class="row">
      <div id='editor'>
        <div class="col-5 offset-1">
            <%= form.text_area :content, id: "question_content", "v-model" => "input", size:"30x26", name: "question[content]",
            value:"#### 前提・実装したい事\nここに書いてください\n#### エラーコード\n```  \nここに書いてください\n```\n#### 該当コード\n``` ruby\nソースコード\n```\n#### 補足（FW/ツールのバージョンなど）\nここに書いてください" %>
        </div>
        <div class="col-5">
            <div v-html='input | marked' class="card card-body bg-light"></div>
        </div>

      </div>
    </div><br>

    <div class="row">
      <div class="col-2 offset-7 text-right">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#about">
           質問の仕方について
          </button>
      </div>

      <div class="col-1">
        <%  url = request.path_info %>
        <% if url.include?('new') %>
          <%= form.submit "投稿する", class: 'btn btn-success float-right'  %>
        <% else %>
          <%= form.submit "更新する", class: 'btn btn-success float-right'  %>
        <% end %>
      </div>
    </div>
<% end %>
  <%= render 'layouts/about' %>
