<div class="container">

  <div class="row">
    <%= form_with model: @question do |form| %>
      <%= render 'layouts/error_messages', model: form.object %>
        <div class="form-group">
          <h3>タイトル</h3>
          <%= form.text_field :title, placeholder:"解決したい事を10文字以上で書いてください", size:"100x1" %>
        </div>

      <div class="form-group">
        <div id='editor'>
          <%= form.text_area :content,size:"150x20", class: "form-control", id: "question_content", "v-model" => "input", name: "question[content]" %><br>
            <div class="collapse" id="preview">
              <div v-html='input | marked' class="card card-body bg-light p-5"></div>
            </div>
        </div>
      </div>
    </div>

      <div class="form-group">
        <button type="button" class="btn btn-secondary offset-lg-6" data-toggle="modal" data-target="#about">
         質問の仕方について
        </button>
        <button type="button" class="btn btn-info col-lg-1.5 offset-lg-1" data-toggle="collapse" data-target="#preview" aria-expanded="false" aria-controls="collapse">
          プレビュー
        </button>
        <%= form.submit "更新", class: 'btn btn-success float-right'  %>
      </div>
    <% end %>
</div>




  <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="about">質問の仕方について</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          1.  <br>
          2.  <br>
          3.  <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>


      <script type="text/javascript">
        window.onload = function() {
          new Vue({
            el: '#editor',
              data: {
                input: '<%==  j @question.content %>',
              },
              filters: {
                marked: marked,
              },
          });
        };
      </script>
