
<div class="container-fulid">
  <div class="main">
    <div class="main-content">
      <h2>回答して理解を深めよう！<br><br><br>
          質問して問題を解決しよう！！！　　　　<%= link_to "質問する" ,new_question_path, data: {"turbolinks" => false} %><br><br><br>
          問題を作ってして評価を得よう！！　　　<%= link_to "作成する" ,new_example_path, data: {"turbolinks" => false} %>

      </h2>
    </div>
  </div>
</div>
<% notice %>
<div class="container-fulid">
  <div class="row">
    <div class="col-2 offset-1">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <a class="nav-link active" id="v-pills-questions-tab" data-toggle="pill" href="#v-pills-questions" role="tab" aria-controls="v-pills-questions" aria-selected="true">質問　　　<%= octicon "issue-opened" %></a>

        <a class="nav-link" id="v-pills-noanswer-tab" data-toggle="pill" href="#v-pills-noanswer" role="tab" aria-controls="v-pills-noanswer" aria-selected="false">未回答　　<%= octicon "report" %></a>

        <a class="nav-link" id="v-pills-unsolved-tab" data-toggle="pill" href="#v-pills-unsolved" role="tab" aria-controls="v-pills-unsolved" aria-selected="false">未解決　　<%= octicon "comment-discussion" %></a>

        <a class="nav-link" id="v-pills-bestanswer-tab" data-toggle="pill" href="#v-pills-bestanswer" role="tab" aria-controls="v-pills-bestanswer" aria-selected="false">解決済　　<%= octicon "issue-closed" %></a>

        <a class="nav-link" id="v-pills-example-tab" data-toggle="pill" href="#v-pills-example" role="tab" aria-controls="v-pills-example" aria-selected="false">例題　　　<%= octicon "terminal" %></a><br>


        <%= render 'questions/rank', rank_user: @rank_user %>

      </div>
    </div>


    <div class="col-7">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-questions" role="tabpanel" aria-labelledby="v-pills-questions-tab">
          <%= render 'users/question', questions:@questions%>
        </div>
        <div class="tab-pane fade" id="v-pills-noanswer" role="tabpanel" aria-labelledby="v-pills-noanswer-tab">
          <%= render 'questions/noanswers', noanswers:@noanswers%>
        </div>
        <div class="tab-pane fade" id="v-pills-unsolved" role="tabpanel" aria-labelledby="v-pills-unsolved-tab">
          <%= render 'questions/unsolved', unsolved:@unsolved%>
        </div>
        <div class="tab-pane fade" id="v-pills-bestanswer" role="tabpanel" aria-labelledby="v-pills-bestanswer-tab">
          <%= render 'questions/bestanswer', bestanswers:@bestanswers%>
        </div>
        <div class="tab-pane fade" id="v-pills-example" role="tabpanel" aria-labelledby="v-pills-example-tab">
          <%= render 'users/example', examples:@examples%>
        </div>
      </div>
    </div>
  </div>
</div>
