<div class="container">
  <%  @questions.each do |t| %>
    <div class="questions">
      <div class="row">
        <% answer = Answer.where(question_id: t.id) %>
          <div class="col-lg-1 text-center">
            <% if answer.count == 0 %>
              <h5><span class="badge badge-pill badge-warning">未回答</span></h5>
            <%# <% elsif %> %>
            <% else %>
              <h5><span class="badge badge-pill badge-info">受付中</span></h5>
            <% end %>
          </div>
          <div class="col-lg-11">
            <%= link_to question_path(t.id), class:"text-secondary" do %>
              <h3><%= t.title %></h3>
            <% end %>
          </div>
      </div>

      <div class="row border-bottom boder-ingo">
          <div class="col-lg-1 text-center">
            <%= answer.count %>
          </div>

          <div class="col-lg-6">
          <% question_score = QuestionScore.where(id: t.id) %>
              <h6>評価 <%= question_score.count %> 件</h6>
            </div>

            <div class="col-lg-3">
              <% user = User.find(t.user_id) %>
              <%= attachment_image_tag user, :profile_image, size:"50x50", fallback: "no_image.jpg", class:"rounded-circle" %>
              <%= link_to user_path(user.id) do %>
                <%= user.name %>
              <% end %>
            </div>

            <div class="col-lg-2">
                <%= time_ago_in_words(t.created_at) %>
            </div>
      </div>

    </div>
  <% end %>

    <div class="row justify-content-center">
      <%= paginate @questions, class: "paginate", class:"justify-content-center" %>
    </div>

</div>
