<style>
  .up-header {
    padding: 50px;

  }
  .up {
    background-color: white;
    height:500px;
    margin-top: 400px;
  }
  body {
    background-color:#2a3644;
  }
  .container {
    max-width: 700px;
  }
</style>


<div class="container">
  <div class="up text-center">
    <h2 class="up-header">新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"ユーザーネーム", size:"50" %>
      </div><br>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" , size:"50"%>
      </div><br>


      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"６字以上でpasswordを決めてください", size:"50" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"もう一度passwordを入力してください", size:"50" %>
      </div><br>

      <div class="col-2 offset-5">
        <%= f.submit "登録する" %>　

        <%= render "devise/shared/links" %>
      </div>
    <% end %>


  </div>
</div>
