<% examples.each do |example| %>
  <% scores = ExampleScore.where(example_id: example.id) %>
  <% user = User.find_by(id:example.user_id) %>
  <div class="examples">
    <div class="row border-bottom border-info">
      <div class="col-1 text-center">
        <% if example.example_status? %>
          評価<br>
        <% else %>
          <h8><span class="badge badge-danger">認証待ち</span></h8><br>
        <% end %>
        <h4><%= scores.count %></h4>
      </div>

      <div class="col-8">
        <%= link_to example_path(example.id) do %>
          <h3><%= example.example_title %></h3><br>
        <% end %>


      </div>
      <% if user_signed_in? %>
        <% if user.id == current_user.id %>
          <div class="col-3 text-right">
            <%= link_to  edit_example_path(example.id), data: {"turbolinks" => false} do %>
             <button type="button" class="btn btn-primary">
               編集
             </button><br>
            <% end %>
            【　<strong><%= example.impressionist_count %></strong> <small>PV</small>　】
            【　<%= time_ago_in_words(example.created_at) %>　】
          </div>

        <% else %>
          <div class="col-3 text-right">
            <br>
            <%= render 'users/profile_image', user:user %>
            <%= link_to user_path(user.id) do %>
              <%= user.name %><br>
            <% end %>
            【　<strong><%= example.impressionist_count %></strong> <small>PV</small>　】
            【　<%= time_ago_in_words(example.created_at) %>　】
          </div>
        <% end %>
      <% else %>
        <div class="col-3 text-right">
          <br>
          <%= render 'users/profile_image', user:user %>
          <%= link_to user_path(user.id) do %>
            <%= user.name %><br>
          <% end %>
          【　<strong><%= example.impressionist_count %></strong> <small>PV</small>　】
          【　<%= time_ago_in_words(example.created_at) %>　】
        </div>
      <% end %>

  </div>
<% end %>

<br>
<br>
<div class="row">
  <div class="offset-5">
    <%= paginate examples %>
  </div>
</div>
