<% questions.each do |t| %>
  <div class="questions">
    <div class="row border-bottom border-info">

      <% answer = Answer.where(question_id: t.id) %>
        <div class="col-lg-1 text-center">
          <% if answer.count == 0 %>
              <h5><span class="badge badge-pill badge-warning">未回答</span></h5>
            <%# <% elsif %> %>
            <% else %>
              <h5><span class="badge badge-pill badge-info">受付中</span></h5>
          <% end %>

          <%= answer.count %>
        </div>

        <div class="col-lg-6">
          <%= link_to question_path(t.id), class:"text-secondary" do %>
            <h3><%= t.title %></h3>
          <% end %>

          <% question_score = QuestionScore.where(id: t.id) %>
          <h6><%= question_score.count %> 評価</h6>
        </div>

        <div class="col-lg-2">
          <br>
            <%= time_ago_in_words(t.created_at) %>
        </div>

        <div class="col-lg-3">
          <% if user = current_user %>
            <%= link_to  edit_question_path(t.id) do %>
             <button type="button" class="btn btn-primary">
               編集
             </button>
            <% end %>
          <% else %>
          <% end %>
        </div>

    </div>
  </div>
<% end %>
