<style>
  .login-header {
    padding: 50px;

  }
  .login {
    background-color: white;
    height:500px;
    margin-top: 200px;
  }
  body {
    background-color:#2a3644;
  }
</style>
<div class="container">
  <div class="login text-center">
    <h2 class="login-header">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div><br>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン" %>　
        <%= render "devise/shared/links" %>
      </div>
    <% end %>


  </div>
</div>
