<style>
  .login-header {
    padding: 50px;
  }
  .login {
    background-color: white;
    height:500px;
    margin-top: 200px;
  }
  body {
    background-color:#2a3644;
  }
  .container {
    max-width: 700px;
  }
  .btn-primary, .btn-success {
    margin-top: 10px;
  }
</style>
</style>
<div class="container">
  <div class="login text-center">
    <h2 class="login-header">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
      </div><br>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"Passward" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div><br>
      <% end %>

      <div class="row">
        <div class="col-2 offset-4">
          <%= f.submit "ログイン", class:"btn btn-primary btn-sm" %>
        </div>

        <div class="col-2">
          <%= link_to "戻る", :back, class:"btn btn-primary btn-sm" %>
        </div>
      </div><br>

       <div class="row">
          <div class="col-2 offset-5">
            <%= link_to "新規登録", new_registration_path(resource_name), class:"btn btn-success btn-sm" %>
          </div>
        </div><br><br>        
    <% end %>
    <div class="row">
      <div class="col-2 offset-4">
        <%= link_to user_github_omniauth_authorize_path do %>
          <button type="button" class="btn btn-outline-secondary btn-sm"><%= octicon "mark-github" %>　github</button>
        <% end %>
      </div>
      <div class="col-2">
        <%= link_to user_twitter_omniauth_authorize_path do %>
          <button type="button" class="btn btn-outline-primary btn-sm"><i class="fab fa-twitter"></i>　twitter</button>
        <% end %>
      </div>
    </div>


  </div>
</div>
