<% answer_scores = AnswerScore.where(answer_id: answer.id) %>
<% answer_score = AnswerScore.find_by(user_id: answer.user_id, answer_id: answer.id) %>


<% if answer.user_id == current_user.id || question.question_status == "解決済" %>
  <br>
  <h4><%= answer_scores.pluck(:answer_score).sum %></h4><br>
  <br>

<% elsif answer_score && answer_score.answer_score == 1 %>
  <br><br>
  <h4><%= answer_scores.pluck(:answer_score).sum %></h4>
  <%= link_to down_question_answer_path(question.id, answer.id),method: :post, remote: true do %>
    <%= octicon("chevron-down", :height => 48) %>
  <% end %>

<% elsif answer_score && answer_score.answer_score == -1  %>
  <%= link_to up_question_answer_path(question.id, answer.id),method: :post, remote: true do %>
    <%= octicon("chevron-up", :height => 48) %><br>
  <% end %>
    <h4><%= answer_scores.pluck(:answer_score).sum %></h4>
  <br><br>

<% else %>
  <%= link_to up_question_answer_path(question.id, answer.id),method: :post, remote: true do %>
    <%= octicon("chevron-up", :height => 48) %><br>
  <% end %>

  <h4><%= answer_scores.pluck(:answer_score).sum %></h4>

  <%= link_to down_question_answer_path(question.id, answer.id),method: :post, remote: true do %>
    <%= octicon("chevron-down", :height => 48) %>
  <% end %>

<% end %>
