<!DOCTYPE html>
<html>
  <head>
    <title>Wassue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/191780dcf2.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fulid container-head">
        <header>
          <div class="row">
            <div class="col-2 offset-5">
              <%= form_with url:questions_path, method: :get, local: true do |form| %>
                <%= form.text_field :search %>
                <%= form.submit '検索', :name => nil %>
              <% end %>
            </div>

              <% if user_signed_in? %>
                <% if current_user.admin == true %>
                  <%= link_to "管理ページ", admin_path %>
                <% else %>
                  <div class="col-1">
                    <%= link_to  user_path(current_user) do %>
                      <i class="fas fa-home"></i>　マイページ
                    <% end %>
                    </div>
                  <div class="col-1">
                    <%= link_to new_question_path do %>
                      <i class="fas fa-question-circle"></i>　質問する
                    <% end %>
                  </div>
                  <div class="col-2 text-left">
                    <%= link_to  new_example_path do %>
                      <i class="far fa-gem"></i>　問題を作成する
                    <% end %>
                  </div>

                <% end %>
              <% else %>
                <%= link_to "ログイン", new_user_session_path %>
                <%= link_to "新規登録", new_user_registration_path %>
              <% end %>

          </div>
      </header>
    </div>
    <%= yield %>
  </body>
</html>
